body {
    font-family: Arial, sans-serif;
    background-image: url(images/mountain.jpeg);
   }
   
   .display-4 {
    color: black;
    margin-bottom: 16px;
    text-align: center;
   }
   
   .APIContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    background-color: #7e7878;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   }
   
   .jokeContainer,
   .currencyContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   
   .jokeTitle {
    color: #212529;
   }
   
   .jokeContainer button,
   .currencyContainer button {
    background-color: #007bff;
    border: none;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 8px;
   }
   
   .jokeContainer button:hover,
   .currencyContainer button:hover {
    background-color: #0056b3;
   }
   
   .marginTopBottom {
    margin-top: 16px;
    margin-bottom: 16px;
   }
   
   .currencyResult {
    margin-top: 16px;
    font-size: 24px;
    color: #212529;
   }
   
   .jokeIcon {
    width: 64px;
    height: 64px;
   }
   
   .randomImage {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
   }